#cart-table {
max-width: 100%;
margin-left: auto;
margin-right: auto;

}
#billship h3{
	font-size: 1.5em;
}
#billship table {
border-collapse: collapse;
font-size: 1.0em;

}
#billship td, #billship th,#billship tr {
   border:none;
   padding:0 0 0 0 ;
}
#billship input[type="number"] {
}

#billship input#submit {
	margin-left: auto;
	margin-right: auto;
}
#submitfall {
	text-align: center;
	margin-left:95%;

}
#submitfall #submit {

}

#billship input {
}

#billship textarea {
	height:40px;
}